body{
    background-image:url("D:\Project-module\my-citizen-app\src\Images\original.png");
}

#table1{
    margin-top: 25px;
    width:auto;
    margin-left:30px;
    margin-right:30px;
   
}

#table2{
    margin-top: -200px;
    width:auto;
    margin-left:30px;
    margin-right:30px;
   
}

